/*primary color*/
.bg-cream {
    background-color: #FFF2E1;
}

/*font*/
body {
    font-family: 'Poppins', sans-serif;
}

/* Ganti warna kuning F48C06 dengan hijau terang */
.bg-yellow-500 {
    background-color: #22C55E; /* Tailwind green-500 */
}
.text-yellow-500 {
    color: #22C55E; /* Tailwind green-500 */
}

/* Jika ingin warna lebih mirip dengan intensitas F48C06, bisa pakai #22C55E atau #16A34A (green-600) */

.floating { 
    animation-name: floating; 
    animation-duration: 3s; 
    animation-iteration-count: infinite; 
    animation-timing-function: ease-in-out;
} 
@keyframes floating { 
    0% { transform: translate(0, 0px); } 
    50% { transform: translate(0, 8px); } 
    100% { transform: translate(0, -0px); }  
} 
.floating-4 { 
    animation-name: floating; 
    animation-duration: 4s; 
    animation-iteration-count: infinite; 
    animation-timing-function: ease-in-out;
} 
@keyframes floating-4 { 
    0% { transform: translate(0, 0px); } 
    50% { transform: translate(0, 8px); } 
    100% { transform: translate(0, -0px); }  
}
.text-darken {
    color: #2F327D;
}